1 load the data

In [ ]:
from sklearn.datasets import load_iris
import pandas as pd

iris_data = load_iris()
df = pd.DataFrame(iris_data['data'], columns=iris_data['feature_names'])
df['species'] = iris_data['target']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   species            150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [ ]:
df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  species
0                5.1               3.5  ...               0.2        0
1                4.9               3.0  ...               0.2        0
2                4.7               3.2  ...               0.2        0
3                4.6               3.1  ...               0.2        0
4                5.0               3.6  ...               0.2        0

[5 rows x 5 columns]

In [ ]:
df.species.value_counts()

2    50
1    50
0    50
Name: species, dtype: int64

2 train/test split

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(df.drop('species', axis=1), df.species, test_size=0.3, random_state=8)

In [ ]:
x_train.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
49                 5.0               3.3                1.4               0.2
43                 5.0               3.5                1.6               0.6
40                 5.0               3.5                1.3               0.3
139                6.9               3.1                5.4               2.1
111                6.4               2.7                5.3               1.9

3 load the model and train

In [ ]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression().fit(x_train, y_train)
y_pred = clf.predict(x_test)

4 evaluate the model

In [ ]:
y_pred

array([0, 0, 0, 2, 1, 0, 0, 2, 2, 1, 1, 0, 1, 1, 1, 2, 2, 2, 2, 2, 1, 0,
       1, 1, 1, 0, 2, 0, 0, 2, 0, 0, 0, 2, 1, 1, 2, 1, 0, 1, 1, 0, 1, 1,
       2])

In [ ]:
import numpy as np

y_test= np.array(y_test)

array([0, 0, 0, 2, 1, 0, 0, 2, 2, 1, 1, 0, 2, 1, 2, 2, 2, 2, 1, 2, 1, 0,
       1, 1, 1, 0, 2, 0, 0, 2, 0, 0, 0, 2, 1, 1, 2, 1, 0, 1, 1, 0, 1, 1,
       2])

In [ ]:
dif = y_pred - y_test

In [ ]:
incorrect_num = np.sum(np.abs(dif))

In [ ]:
incorrect_num

3

In [ ]:
1-3/45

0.9333333333333333

In [ ]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       0.88      0.94      0.91        16
           2       0.92      0.86      0.89        14

    accuracy                           0.93        45
   macro avg       0.94      0.93      0.93        45
weighted avg       0.93      0.93      0.93        45